version: "3"
services:
  nodejs_express:
    build:
      context: .
    container_name: cube_nodejs_express_express
    environment:
      # tell the app that it is running in docker compose
      - CUBE_DOCKER_COMPOSE=true

      - DD_SERVICE=cube_sample_nodejs_express_datadog
      # send traces to CubeAPM
      # - DD_TRACE_AGENT_URL=http://host.docker.internal:3130
      - DD_RUNTIME_METRICS_ENABLED=true
      - DD_RUNTIME_METRICS_RUNTIME_ID_ENABLED=true
      - DD_AGENT_HOST=datadog-agent

      # optional settings
      # - DD_ENV=myenv
      # - DD_VERSION=1.2.3
      # - DD_TAGS=mykey1:myvalue1,mykey2:myvalue2

      # Print Datadog tracer startup logs on screen
      # - DD_TRACE_STARTUP_LOGS=true
      # Enable Datadog tracer debug logging if needed to see detailed logs
      # - DD_TRACE_DEBUG=true
    ports:
      - "8000:8000"
    depends_on:
      - mysql
      - redis
      - datadog-agent
    restart: always

  mysql:
    image: mysql:8.0
    container_name: cube_nodejs_express_mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=test
    volumes:
      - cube_nodejs_express_mysql:/var/lib/mysql
    ports:
      - "3306:3306"

  redis:
    image: redis:alpine3.18
    container_name: cube_nodejs_express_redis

  datadog-agent:
    image: gcr.io/datadoghq/agent:latest   # or datadog/agent:latest
    container_name: datadog-agent
    environment:
      # Required
      - DD_API_KEY=<datadog API Key>                # your Datadog API key
      # - DD_SITE=us5.datadoghq.com          # change to datadoghq.eu or datadoghq.in if needed
      - DD_DD_URL=http://host.docker.internal:3130

      # Metrics
      - DD_DOGSTATSD_NON_LOCAL_TRAFFIC=true      # accept DogStatsD metrics from other containers
      - DD_DOGSTATSD_PORT=8125

      # APM / Traces
      - DD_APM_ENABLED=true
      - DD_APM_NON_LOCAL_TRAFFIC=true
      - DD_APM_RECEIVER_PORT=8126
      - DD_OBSERVABILITY_PIPELINES_WORKER_TRACES_URL=http://host.docker.internal:3130
      - DD_OBSERVABILITY_PIPELINES_WORKER_TRACES_ENABLED=true

    ports:
      - "8125:8125/udp"    # DogStatsD (metrics)
      - "8126:8126/tcp"    # APM traces
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc/:/host/proc/:ro
      - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro

volumes:
  cube_nodejs_express_mysql:
